Assets/
debug/
eeproms/
obj/
release/
Screenshots/
software/
src/*~
src/*/*.bak
src/m68000/obj/
src/m68000/*~
VS2015/x64/Archives/
VS2015/*/x64/
VS2015/*/*_VS2015-DebugSetup.txt
VS2015/*/ReadMe.txt
VS2015/.vs/
VS2015/obj/
VS2015/Win32/
VS2015/x64/
VS2015/virtualjaguar.vcxproj.txt
VS2015/virtualjaguar_VS2015-DebugSetup.txt
*.bak
makefile-qt
makefile-qt*.*
object_script.virtualjaguar*.*
.qmake.stash
virtualjaguar.WinMerge
VS2015/virtualjaguar.VC.db
VS2015/virtualjaguar.VC.VC.opendb
VS2015/virtualjaguar.sdf

