/Assets/
/[Bb]uild/
/debug/
/eeproms/
/obj/
/release/
/Screenshots/
/software/
/src/*~
/src/*/*.bak
/src/m68000/obj/*.a
/src/m68000/obj/*.exe
/src/m68000/obj/*.d
/src/m68000/obj/*.o
/src/m68000/obj/*
*.bak
virtualjaguar
Makefile.*
makefile-qt
makefile-qt*.*
object_script.virtualjaguar*.*
.qmake.stash
*WinMerge
/Win-VS2015/
/Win-VS2017/
/Win-VS2022/
/Win-VS2026/m68000/m68000.vcxproj.user
/Win-VS2026/jaguarcore/jaguarcore.vcxproj.user
/Win-VS2026/x64/Archives/
/Win-VS2026/*/x64/
/Win-VS2026/*/ReadMe.txt
/Win-VS2026/.vs/
/Win-VS2026/obj/
/Win-VS2026/Win32/
/Win-VS2026/x64/
/Win-VS2026/virtualjaguar.VC.db
/Win-VS2026/virtualjaguar.VC.VC.opendb
/Win-VS2026/virtualjaguar.sdf
/Win-VS2026/virtualjaguar.vcxproj.user
/Win-VS2026/GeneratedFiles/
/Win-VS2026/GeneratedFiles/qrc_virtualjaguar.cpp
/Win-VS2026/My Inspector Results - virtualjaguar
.env
MSYS2_MinGW64.sh
vstudio.bat
Cygwin64.sh
desktop.ini
