Assets/
debug/
eeproms/
obj/
release/
Screenshots/
software/
src/*~
src/*/*.bak
src/m68000/obj/*.a
src/m68000/obj/*.exe
src/m68000/obj/*.d
src/m68000/obj/*.o
Win-VS2015/m68000/m68000.vcxproj.user
Win-VS2015/jaguarcore/jaguarcore.vcxproj.user
Win-VS2015/x64/Archives/
Win-VS2015/*/x64/
Win-VS2015/*/*_VS2015-DebugSetup.txt
Win-VS2015/*/ReadMe.txt
Win-VS2015/.vs/
Win-VS2015/obj/
Win-VS2015/Win32/
Win-VS2015/x64/
Win-VS2015/virtualjaguar.vcxproj.txt
Win-VS2015/virtualjaguar.VC.db
Win-VS2015/virtualjaguar.VC.VC.opendb
Win-VS2015/virtualjaguar.sdf
Win-VS2015/virtualjaguar.vcxproj.user
Win-VS2015/virtualjaguar_VS2015-DebugSetup.txt
*.bak
makefile-qt
makefile-qt*.*
object_script.virtualjaguar*.*
.qmake.stash
virtualjaguar.WinMerge
Win-VS2017/m68000/m68000.vcxproj.user
Win-VS2017/jaguarcore/jaguarcore.vcxproj.user
Win-VS2017/x64/Archives/
Win-VS2017/*/x64/
Win-VS2017/*/ReadMe.txt
Win-VS2017/.vs/
Win-VS2017/obj/
Win-VS2017/Win32/
Win-VS2017/x64/
Win-VS2017/virtualjaguar.VC.db
Win-VS2017/virtualjaguar.VC.VC.opendb
Win-VS2017/virtualjaguar.sdf
Win-VS2017/virtualjaguar.vcxproj.user
